@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@keyframes zoomIn {
  from { transform: scale(1); }
  to   { transform: scale(1.1); }
}

.animate-zoom {
  animation: zoomIn 8s ease-in-out infinite alternate;
}

@keyframes scrollLeft {
 0% {
  transform: translateX(0);
 }
 100% {
  transform: translateX(-50%);
 }
}

.animate-scroll-left {
  animation: scrollLeft 20s linear infinite;
}
